header {

}

.frame {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
}

@media (prefers-reduced-motion: no-preference) {
    .hashy-icon {
        animation: icon-rotate infinite 600000ms linear;
    }
}

@keyframes icon-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}